<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Content:</ion-label>
        <ion-input [(ngModel)]="input.content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Author:</ion-label>
        <ion-input [(ngModel)]="input.author"></ion-input>
      </ion-item>
      <ion-button (click)="add()">ADD</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list padding>
    <ion-item *ngFor="let m of (messages | async)" >
      <div routerLink="/detail/{{m.id}}">
        <ion-icon name="document" slot="start"></ion-icon>
        <ion-label  text-wrap>{{m.content}}</ion-label>
        <ion-label><span style="font-style: italic">{{m.created | date:'medium'}}</span> {{m.author}} </ion-label>
      </div>
      <ion-button slot="end" ion-button size="small" color="danger" (click)="deleteMessage(m.id)">DELETE</ion-button>

    </ion-item>
  </ion-list>

  <div>
    <ion-button ion-button (click)="get()">GET</ion-button>
  </div>
</ion-content>